@page
@model TaskBuddy.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Taskuri</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taskuri.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taskuri.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taskuri.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taskuri.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taskuri.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taskuri.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taskuri.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taskuri.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taskuri.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taskuri.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taskuri.DeadLine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taskuri.DeadLine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taskuri.IsCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taskuri.IsCompleted)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Taskuri.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
