@page
@model TaskBuddy.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Taskuri</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taskuri.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taskuri.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taskuri.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taskuri.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taskuri.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taskuri.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taskuri.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taskuri.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taskuri.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taskuri.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taskuri.DeadLine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taskuri.DeadLine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taskuri.IsCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taskuri.IsCompleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Taskuri.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
